@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');
@import "tailwindcss";


:root {
  --background: #FFF9F1;
  --background-dark: #111111;
  --primary: #EF6C22;
  --secondary: #E8AA4E;
  --dark:#303030;
  --light:#777777;


  /* --font-- */
  --font-body: var(--font-open-sans);
  --font-primary: var(--font-cormorant_garamond);
  /* --font-primary: "Cormorant", serif; */
}



@theme inline {
  --color-background: #fff9f1;
  --color-background-dark: #111111;
  --color-primary: #ef6c22;
  --color-secondary: #E8AA4E;
  --color-dark: #303030;
  --color-light: #777777;

  --font-body: var(--font-body);
  --font-primary: var(--font-cormorant_garamond);
}

body {
  font-family: var(--font-open-sans);
  scroll-behavior: smooth;
  /* color: var(--color-dark); */
}


.font-italic {
  font-style: italic;
  font-family: "Cormorant", serif;
}

